doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Exotic Request Methods
  body
    h1 Exotic Request Methods
    p Testing against: 
      b #{url}
    each proto, protoName in protocols
      h2 #{protoName}
      ul
        each response, methodName in proto
          if response.pass
            li #{methodName} &#x2714;
          else
            li #{methodName} &#x2718; 
              br
              code #{response.msg}
